/*FLEX CONTAINER*/
section{
    width: 500px;
    height:200px;
    border: 1px solid #000;
    margin: 0 auto;
    /* display flex, Determina que esta etiqueta se convertira en un flex-container*/
    display: flex;
    /* flex-direction - cambia la direccion del eje principal
      flex-direction: row => los hijos se muestran de manera horizontal
      flex-direction: column => los hijos se muestran de manera vertical
      flex-direction: column-reverse => se muestran de manera vertical y de manera reversa;
      flex-direction: row-reverse -reverse => se muestran de manera horizontal y de manera reversa;
      */
    flex-direction: row;
}
/*FLEX ITEM*/
.caja1{
  background: blue;
}
/*FLEX ITEM*/
.caja2{
  background: green;
}
/*FLEX ITEM*/
.caja3{
  background: pink;
}
